<section id="header">
    <a href="index.html"><img src="img/logo.png" class="logo"></a>
    <div>
        <ul id="navbar">
            <li><a class="active" asp-action="index">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
            <li id="lg-bag"><a href="cart.html"><i class="ri-shopping-bag-line"></i></a></li>
            <a href="#" id="close"><i class="ri-close-large-fill"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="ri-shopping-bag-line"></i></a>
        <i id="bar" class="ri-menu-fold-3-fill"></i>
    </div>
</section>