@model Domain.Models.DeliverySlotVM

<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col">
                <div class="card radius-10">
                    <div class="card-body p-4">
                        <h5 class="card-title">Add New Delivery Slot</h5>
                        <hr />
                        <div class="form-body mt-4">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="border border-3 p-4 rounded">
                                        <form asp-action="Create" asp-controller="DeliverySlot" enctype="multipart/form-data">
                                            <div class="form-body mt-4">
                                                @* <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="border border-3 p-4 rounded"> *@
                                                <div class="col-12">
                                                    <label class="form-label">Start Time</label>
                                                    <input class="form-control" asp-for="StartTime">
                                                    <span asp-validation-for="StartTime" class="text-danger"></span>

                                                </div>
                                                <div class="col-12">
                                                    <label class="form-label">End Time</label>
                                                    <input class="form-control" asp-for="EndTime">
                                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="form-label">Select AM_PM</label>
                                                    <select class="form-control" asp-for="AM_PM">
                                                        <option value="AM">AM</option>
                                                        <option value="PM">PM</option>
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <label class="form-label">Is Available</label>
                                                    <input type="checkbox" asp-for="IsAvailable">
                                                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                                                </div>

                                                <div class="d-flex pt-2">
                                                    <div class="form-group mx-1">
                                                        <button type="submit" class="btn btn-inverse-success">Save</button>
                                                    </div>
                                                    @* <div class="form-group offset-3">
                                                <input type="submit" value="حجز كشف" class="btn btn-inverse-warning col-2" formaction="@Url.Action("BookAppoitment")" style="width:auto" />
                                                </div> *@
                                                </div>
                                                @* <input type="hidden" id="url"
                                                                   data-getpatient="@Url.Action("GetPatient")"> *@
                                            </div>
                                            @* </div><!--end row-->
                                                </div>
                                            </div> *@
                                        </form>
                                    </div>
                                </div>
                            </div><!--end row-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>